@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
.red
{
 color:red;
 font-size:15px;
 
}

table img
{
visibility:hidden;
}
body
{
 background-image: url("../slike/rest1.jpg");
 background-size: auto;
 background-repeat: no-repeat;
 margin:0;
}

h1 {
    color: white;
    text-align: left;
	font-weight:bold;
	font-size:120px;
	font-family:'Just Me Again Down Here';
	margin:0;
	padding:0 100px;
	float:left;
	margin-top:37px;	
	clear:both;
}
h1 img
{
  height:57px;
  width:35px;
}

#okvir
{
 width: 1349px;
 margin: 0 auto;
 padding: 0;
 clear:both;
}
#zaglavlje
{
 height:50px;
 clear:both;
}

#meni
{
 background-color:#A60000;
 height:60px;
 margin:0;
 padding:0 340px;
 clear:both;
 }

#meni a
{
    float: left;
    width: 5.5em;
    text-decoration: none;
    color: white;
    background-color:#A60000;
    padding: 0.5em 0.6em;
	text-align:center;
	margin-top:20px;
	font-weight:bold;
	font-size:16px;
	font-family:helvetica;
}
#meni a:hover {
    background-color: #7D4039;
}
#meni ul 
{ 
  padding: 0;
  margin: 0;
}
 #meni li 
 {
 float:left;
 position:relative;
 display:block;
 background:#A60000;
 color:white;
 }
 
 #meni li ul 
 { 
 display:none;
 }
 
 #meni li ul li
 { 
 clear:both;
 border-style:none;
 background:#7D4039;
 width: 6.7em;
 height:20px;
 }
 
  #meni li ul li:hover
 { 
 background:#7D4039;
 }

#potpis
{
 margin-top:40px;
 padding-left:90px;
 font-family:monospace;
 font-size:20px;
 height:130px;
}
/*Ponuda*/

h2
{
  font-size:150px;
  text-align:center;
  color:white;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  padding:0;
  margin:0;
  clear:both;

}

table, th, td
{
 border: 1px solid white;
 border-collapse: collapse;
 margin:0;
 padding:20px;
 font-family:'Open Sans', sans-serif;
}
table.center
{
 margin-left:80px; 
 margin-right:80px;
 margin-top:20px;
}

table th
{
 background-color:#A64D4D;
 text-align:center;
 font-size:30px;
}
table td
{
  background-color:white;
  text-align:center;
}
#tabela
{
 margin-left:60px;
 margin-right:60px;
 margin-bottom:25px;
 border:1px solid white;
 height:600px;
 overflow-y: scroll;
 overflow-x: hidden;
}
#tabela td
{
 background-color:white;
 font-size:17px;
}
#tabela  tr:nth-child(2)
{
 font-weight:bold;
 background-color:white;
 font-size:17px;
}
#tabela  tr:nth-child(7)
{
 font-weight:bold;
 background-color:white;
 font-size:17px;
}
#tabela  tr:nth-child(12)
{
 font-weight:bold;
 background-color:white;
 font-size:17px;
}
#tabela  tr:nth-child(17)
{
 font-weight:bold;
 background-color:white;
 font-size:17px;
}
/*Lokacija*/
#glavni
{ 
 margin:0;
 color:white;
}

#glavni p
{
 margin-top:90px;
 padding-left:90px;
 font-family:monospace;
 font-size:20px;
}
#glavniGal p
{
 color:white;
 margin-top:90px;
 padding-left:90px;
 font-family:monospace;
 font-size:20px;
 height:250px;
}

#parLok
{
  color:white;
  font-size:20px;
  font-family:monospace;
  text-align:center;
  margin-top:50px;
  padding:60px;
 }
 
#radnoVrijeme
{
 text-align:center;
 font-size:23px;
}
#dostava
{
  font-size:30px;
  font-weight:bold;

}

ul.linkovi
{
 padding:0 560px;
 list-style-image:url("../slike/tick.png");

}

ul.linkovi a
{
 color:white;
}

/*Kontakt*/

table.kontaktForma
{
 margin-left:400px; 
 font-size:14px;
}
table.kontaktForma td
{
 text-align:left;
}
#posalji
{
  width: 7em;  height: 2em;
}
#ponisti
{
  width: 7em;  height: 2em;
}
.podnozje
{
 background-color:#560000;
 color:white;
 margin:0;
 padding-left:20px;
 clear:both;
 height:67px;
}

.lijevo{
	float: left;
	padding:0 50px;
	margin-top:5px;
}
.lijevo img
{
   height:150px;
   width:230px;
   padding-left:35px;
}

#vijest{
	border:2px solid white;
	height: 325px;
	width: 300px;
	margin-top:10px;
	margin-left: -10px;
	
}
.naziv {

	border-top-left-radius: 29px;
	border-top-right-radius: 29px;
	border:2px solid white;
	color:white;
	font-size: 20px;
	height: 32px;
	background-color: #712702;
	margin-top: 0px;
	text-align:center;
}
.datum{
	font-style: italic;
	font-size: 15px;
	height: 34px;
	background-color: #975252;
	color: white;
	margin-top: -22px;
}
.autor{
	font-style: italic;
	font-size: 15px;
	height: 25px;
	background-color: #975252;
	color: white;
	margin-top: -32px;
}
.opis{
	color: white;
	padding-left: 5px;
}
.opsirnije{
	text-align: right;
	padding-right: 20px;
	margin-top: -15px;
}
.opsirnije a{
	color: red;
	font-weight:bold;
	text-decoration: none;
}
#vijest1{
	border:2px solid white;
	height: 310px;
	width: 300px;
	margin-left: -10px;
	margin-top: 10px;
}
#vijest2{
	border:2px solid white;
	height: 350px;
	width: 300px;
	margin-left: -10px;
	margin-top: 10px;
}
h3
{
 color:white;
 font-family:monospace;
 font-size:20px;
 float:right;
 margin-right:180px;
 margin-top:60px;
}

#opcija
{
 width: 210px;
}

#greska
{
 color:green;
 font-size:25px;
}

table.formaUnos
{
 margin-left:20px;
 margin-top:50px; 
}
table.formaUnos td
{
 text-align:left;
}
.error
{
visibility:visible;
}

h4
{
 color:white;
 font-family:monospace;
 font-size:18px;
 margin-left:50px;
 clear:both;
}
#uneseno
{
 margin:0px;
 padding:0px;
 color:white;
 font-size:10px;
 font-family:monospace;
 margin-left:100px;
}

#slanjeMaila
{
 margin:0px;
 padding:0px;
 float:left;
 width: 8em;  height: 2em;
 margin-left:45px;
 clear:both;
 
}

#novosti
{
float:right;
 margin-right:40px;
 margin-bottom:30px;
 border:1px solid white;
 clear:both;
 overflow-y: scroll;
 overflow-x: hidden;
 border-radius: 25px;
 width:390px;
 height:600px;
}

.vijesti
{
	border:2px solid white;
	height: 340px;
	width: 300px;
	margin-left: 30px;
	margin-top: 30px;
}
.vijestiBezSlike
{
	border:2px solid white;
	height: 200px;
	width: 300px;
	margin-left: 30px;
	margin-top: 30px;
	clear:both;
}

.vijestiPHP
{
	border:2px solid white;
	height: 280px;
	width: 700px;
	margin-left: 350px;
	margin-top: 100px;
	clear:both;
}

.vijestiPHPSlika
{
	border:2px solid white;
	height: 460px;
	width: 700px;
	margin-left: 350px;
	margin-top: 100px;
	clear:both;
	
}

.vijestiPHPSlika img
{
 height:170px;
 width:250px;
 margin-left: 240px;
 
}

.vijesti img
{
 height:170px;
 width:250px;
 margin-left: 25px;
}

.opsirnijeTekst{
	color: white;
	padding:8px;
}

.komentar
{
 color: white;
 padding:8px;
 font-weight:bold;
}
.komentar a
{
 color: white;
 text-decoration: none;
}
.komentari a
{
 color: white;
}
.komentari
{
	margin-top:70px;
	color: white;
	overflow-y:scroll;
	overflow-x:hidden;
	clear:both;
	border:1px solid white;
    border-radius: 25px;
	height:450px;
}
.komentariNovi
{
	margin-top:350px;
	color: white;
	overflow-y:scroll;
	overflow-x:hidden;
	clear:both;
	border:1px solid white;
    border-radius: 25px;
	height:100px;
	width:700px;
	margin-left:350px;
}
.admin
{
 margin-top:70px;
 margin-left:450px;
}

.nemaKomentara
{
	margin-top:15px;
	color: white;
	clear:both;
	border:1px solid white;
	height:350px;
}

#logout
{
 height:600px;
 clear:both;
}